body {
    font-family: Arial, sans-serif;
    background-color: #bfd9f76b;
    background-image: url('bgimage.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 300px; 
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(207, 215, 215, 0.863);
    border-radius: 8px;
}
.container h1 {
    font-size: 24px; 
}


.form-group {
    margin-bottom: 15px; 
}

.form-control {
    width: calc(100% - 22px); 
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    width: 100px; 
    padding: 8px; 
    border: none;
    border-radius: 5px;
    background-color: #6c757d; 
    color: #fff;
    cursor: pointer;
    margin-top: 10px; 
}

.error {
    color: red;
    font-size: 14px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    color: #666; 
    margin-top: 20px; 
}
